<head>
    <meta http-equiv="Content-Security-Policy"
        content=" img-src 'self';
    script-src 'self' https://code.jquery.com https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js; style-src 'self'">
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <p> Number of queries are:</p>
    <div id="numqueries">

        {{numqueries}}
        <div id="queries">
            <table>
                {% for item in query %}

                <tr>
                    <td>
                        <a id="Query{{item[0]}}" href="history/review/query{{item[0]}}">Query{{item[0]}}</a>
                    </td>
                </tr>
                {%endfor %}
            </table>

        </div>
    </div>
    <br />
</body>