<head>
    <meta http-equiv="Content-Security-Policy"
        content=" img-src 'self';
        script-src 'self' https://code.jquery.com https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js; style-src 'self'">
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <div id="numqueries">




        <div id="queries">
            <table border="1">
                {% for item in query %}
                {%if item[1] == username or username == 'admin' %}
                <th>
                    Query ID
                </th>
                <th>Username</th>
                <th>Input Text</th>
                <th> Result </th>
                <tr>
                    <td>
                        <p id="queryid"> {{item[0]}}</p>
                    </td>
                    <td>
                        <p id="username">{{item[1]}}</p>
                    </td>
                    <td>
                        <p id="querytext">{{item[2]}}</p>
                    </td>
                    <td>
                        <p id="queryresults">{{item[3]}}</p>
                    </td>
                </tr>
                {% endif %}
                {%endfor %}
                
            </table>

        </div>
    </div>
    <br />
</body>